* {
  margin: 0;
  padding: 0; }

body {
  background-color: #21232e; }

.header {
  background-image: url("../img/m-h-night.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 50% left 0;
  border-bottom-right-radius: 35%;
  height: 100vh;
  width: 100vw;
  font-family: "Source Sans Pro", sans-serif; }
  .header-wrap {
    padding-left: 10vw;
    width: 650px; }
    .header-wrap .landing-logo {
      padding-top: 3vh;
      display: flex;
      justify-content: space-between;
      width: 130px; }
      .header-wrap .landing-logo p {
        color: #fff;
        font-size: 20px;
        font-family: "Source Sans Pro", sans-serif; }
        .header-wrap .landing-logo p span {
          display: block;
          font-size: 10px;
          padding-left: 7px; }
    .header-wrap .header_heading {
      padding-top: 50px;
      font-size: 50px;
      line-height: 120%;
      font-weight: bold;
      color: #fff;
      position: relative;
      z-index: 1;
      max-width: 480px; }
      .header-wrap .header_heading::before {
        content: "";
        display: block;
        width: 210px;
        height: 50px;
        background: #ff4e33;
        position: absolute;
        top: 120px;
        left: 0;
        z-index: -1; }
    .header-wrap .header_text {
      padding-top: 30px;
      color: #fff;
      white-space: pre-line; }
    .header-wrap div {
      padding-top: 50px; }
      .header-wrap div .header_button {
        border: none;
        color: #fff;
        width: 100px;
        height: 40px;
        background-color: #e3ac00;
        border-radius: 3px; }
        .header-wrap div .header_button:hover {
          cursor: pointer; }
      .header-wrap div .login {
        padding-left: 100px;
        color: #fff; }

.section_text {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 30px;
  color: #fff;
  position: relative;
  z-index: 1;
  font-family: "Source Sans Pro", sans-serif; }
  .section_text::before {
    content: "";
    display: block;
    width: 130px;
    height: 50px;
    background: #ff4e33;
    position: absolute;
    top: 30px;
    left: 50.5%;
    z-index: -1; }
.section_card_wrap, .section_banner {
  width: 75vw;
  margin: 0 auto; }
  .section_card_wrap .section_card, .section_banner .section_card {
    background-color: #3b3f50;
    display: flex;
    margin: 15px;
    justify-content: flex-start;
    border-radius: 10px; }
    .section_card_wrap .section_card_heading, .section_banner .section_card_heading {
      text-transform: uppercase;
      padding-top: 10px;
      font-family: "Fresca", sans-serif; }
    .section_card_wrap .section_card a, .section_banner .section_card a {
      color: #b6b6b1;
      font-size: 15px;
      padding-bottom: 30px;
      font-family: "Source Sans Pro", sans-serif; }
    .section_card_wrap .section_card_img, .section_banner .section_card_img {
      width: 75%;
      height: 75%;
      padding: 1.5vw;
      border-radius: 30px; }
    .section_card_wrap .section_card_right_container, .section_banner .section_card_right_container {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      color: #fff; }
      .section_card_wrap .section_card_right_container .section_card_heading, .section_banner .section_card_right_container .section_card_heading {
        padding-top: 30px; }
      .section_card_wrap .section_card_right_container .section_card_text, .section_banner .section_card_right_container .section_card_text {
        text-align: justify;
        padding: 0 100px;
        font-size: 15px;
        color: #b6b6b1;
        font-family: "Fresca", sans-serif; }

.section_banner {
  height: 120px;
  background: linear-gradient(90deg, #e3ac00 16%, #ff4e33 85%);
  position: relative;
  border-radius: 10px;
  margin-bottom: -60px;
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .section_banner_heading {
    font-size: 30px;
    z-index: 5;
    position: relative;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    color: #fff; }
    .section_banner_heading::before {
      content: "";
      display: block;
      width: 65px;
      height: 40px;
      background: #ff4e33;
      position: absolute;
      top: -5px;
      left: 120px;
      z-index: -1; }
  .section_banner_text {
    color: white;
    padding-top: 20px;
    font-family: "Fresca", sans-serif; }
  .section_banner_button {
    border: none;
    color: #fff;
    width: 100px;
    height: 40px;
    background-color: #e3ac00;
    border-radius: 3px; }
    .section_banner_button:hover {
      cursor: pointer; }

.footer {
  font-family: "Fresca", sans-serif;
  height: 200px;
  background-color: #3b3f50;
  width: 100vw;
  color: #b6b6b1; }
  .footer-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 100px; }
    .footer-wrap .landing-logo {
      display: flex;
      justify-content: space-between;
      width: 130px; }
      .footer-wrap .landing-logo p {
        font-size: 20px; }
        .footer-wrap .landing-logo p span {
          display: block;
          font-size: 10px;
          padding-left: 7px; }
  .footer .footer_text {
    width: 300px;
    font-size: 15px; }
