$header-image: url('../img/m-h-day.jpg');
$buttonBg: #699900;
$cardBg: #21232e;
$mark: #14a0c7;
$mainBg: #fff;
$textLink: #fff;
$headingText: #2c2f3c;
$cardText: #b6b6b1;
$logoText: #000;

$fonts: (
        primary: ('Source Sans Pro', sans-serif),
        secondary: ('Hind', sans-serif)
);