$header-image: url('../img/m-h-night.jpg');
$buttonBg: #e3ac00;
$textLink: #fff;
$mark: #ff4e33;
$cardBg: #3b3f50;
$mainBg: #21232e;
$headingText: #fff;
$cardText: #b6b6b1;
$logoText: #fff;

$fonts: (
        primary: ('Source Sans Pro', sans-serif),
        secondary: ('Fresca', sans-serif)
);